/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');


@font-face {
  font-family: 'iAWriterQuattroS-Regular';
  src: local('iAWriterQuattroS-Regular'), url('https://ellakaye.github.io/advent-of-code-website-template/iAWriterQuattroS-Regular.woff2') format('woff2'), url('https://ellakaye.github.io/advent-of-code-website-template/iAWriterQuattroS-Regular.woff') format('woff');
}

@font-face {
  font-family: 'iAWriterQuattroS-Bold';
  src: local('iAWriterQuattroS-Bold'), url('https://ellakaye.github.io/advent-of-code-website-template/iAWriterQuattroS-Bold.woff2') format('woff2'), url('https://ellakaye.github.io/advent-of-code-website-template/iAWriterQuattroS-Bold.woff') format('woff');
}

@font-face {
	font-family: 'iAWriterMonoS-Regular';
	src: local('iAWriterMonoS-Regular'), url('https://ellakaye.github.io/advent-of-code-website-template/iAWriterMonoS-Regular.woff2') format('woff2'), url('https://ellakaye.github.io/advent-of-code-website-template/') format('woff');
}
