/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');


@font-face {
  font-family: 'iAWriterQuattroS-Regular';
  src: local('iAWriterQuattroS-Regular'), url('https://github.com/iaolo/iA-Fonts/blob/master/iA%20Writer%20Quattro/Webfonts/iAWriterQuattroS-Regular.woff2') format('woff2'), url('https://github.com/iaolo/iA-Fonts/blob/master/iA%20Writer%20Quattro/Webfonts/iAWriterQuattroS-Regular.woff') format('woff');
}

@font-face {
  font-family: 'iAWriterQuattroS-Bold';
  src: local('iAWriterQuattroS-Bold'), url('https://github.com/iaolo/iA-Fonts/blob/master/iA%20Writer%20Quattro/Webfonts/iAWriterQuattroS-Bold.woff2') format('woff2'), url('https://github.com/iaolo/iA-Fonts/blob/master/iA%20Writer%20Quattro/Webfonts/iAWriterQuattroS-Bold.woff') format('woff');
}

@font-face {
	font-family: 'iAWriterMonoS-Regular';
	src: local('iAWriterMonoS-Regular'), url('https://github.com/iaolo/iA-Fonts/blob/master/iA%20Writer%20Quattro/Webfonts/iAWriterMonoS-Regular.woff2') format('woff2'), url('https://github.com/iaolo/iA-Fonts/blob/master/iA%20Writer%20Quattro/Webfonts/iAWriterMonoS-Regular.woff') format('woff');
}
